<div class="container">
    <div class="row">
        <div class="col-12">
            <form [formGroup]="accordionForm" (ngSubmit)="onSubmit()">
                <div class="form-group col-md-6">
                    <label for="sectionHeader">Section Header:</label>
                    <input type="text" id="sectionHeader" formControlName="sectionHeader" class="form-control">
                </div>
                <div class="form-group col-md-6">
                    <label for="sectionDetails">Section Details:</label>
                    <textarea id="sectionDetails" formControlName="sectionDetails" rows="5" class="form-control section-details-input"></textarea>
                </div>
                <div class="form-group col-md-6">
                    <button type="submit" (click)="addSection()" class="btn btn-info">Add Section</button>
                </div>
            </form>
        </div>
    </div>
    <div class="col-12 mt-4">
        <p-accordion [multiple]="true">
            <p-accordionTab *ngFor="let section of sections">
                <ng-template pTemplate="header">
                    {{ section.header }}
                </ng-template>
                <ng-template pTemplate="content">
                    {{ section.details }}
                </ng-template>
            </p-accordionTab>
        </p-accordion>
    </div>
</div>
